

.appJSX{
    display: flex;
    height: 100vh;
    width: 100vw;
    grid-area: 1fr  5fr;

}

.navBar{
    background-image: linear-gradient(to bottom, #090b28, #081540, #0b1c5a, #192774, #313892);
    width: 20%;
}

.route{
    background-color: blueviolet;
    width: 80%;
}