.landingPage {
  background-color: #000332;
  width: 100%;
  overflow-y: scroll;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.input {
  border: 0px;
  background-color: transparent;
  width: 400px;
  font-family: "Itim", cursive;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: large;
  color: white;
}

.input:focus {
  outline: none;
}

.genre {
  display: grid;
  grid-template-areas:
    "d1 d2 d3"
    "d4 d4 d4"
    "d5 d6 d7";
  margin: 50px 30px;
  gap: 30px;
}

.genre div {
  height: 120px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Itim", cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  background-position: center;
  transition: background-size 0.8s ease;
  transition-delay: 0.2s;
}

.genre div:hover {
  background-position: center;
  background-size: 120%;
}

.genre div:not(:hover) {
  background-size: 100%;
  transition-delay: 0s;
}

.d1 {
  grid-area: d1;
  background: url("../../public/pexels-damir-mijailovic-3695238.jpg");
  background-size: cover;
  background-position: center;
}

.d2 {
  grid-area: d2;
  background: url("../../public/360_F_564671203_9sq2Oj4jh34H2ZVzmK7pDqWT9t4u5W5G.jpg");
  background-position: center;
  background-size: cover;
}

.d3 {
  grid-area: d3;
  background: url("../../public/distressed-halftone-grunge-black-white-vector-texture-texture-concrete-floor-background-creation-abstract-vintage-100679825.webp");
  background-position: center;
  background-size: cover;
}

.d4 {
  grid-area: d4;
  background: url("../../public/360_F_617945111_aFEqsC1n3PJkwr0C22VlWLmgEGZ4qTyB.jpg");
  background-size: cover;
  height: 150px;
  background-position: center;
  font-size: xx-large;
}

.d5 {
  grid-area: d5;
  background: url("../../public/360_F_282158853_VtXRiSiN5eCjPddHobErJewxJ65lYZGt.jpg");
  background-position: center;
  background-size: cover;
}

.d6 {
  grid-area: d6;
  background: url("../../public/1211177165c40aa84673897f4f3b367e.jpg");
  background-size: cover;
  background-position: center;
}

.d7 {
  grid-area: d7;
  background: url("../../public/510162-3D-cube.jpg");
  background-position: center;
  background-size: cover;
}

.titles {
  color: #919191;
  font-family: "Itim", cursive;
  font-size: 1.5rem;
  margin-left: 30px;
}
.booksContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: overlay; /* Changed to overlay */
  width: 100%;
}

.booksContainer::-webkit-scrollbar {
  height: 10px;
}

.booksContainer::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

.booksContainer::-webkit-scrollbar-thumb {
  background: #989898; /* Color of the scrollbar */
  border-radius: 10px;
}

.booksContainer::-webkit-scrollbar-thumb:hover {
  background: #7f7f7f; /* Change color on hover if desired */
}

.book {
  flex: 0 0 auto;
  width: 33%;
  padding: 0px 20px;
  margin: 0px 10px;
  border-radius: 20px;
  color: white;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    #464555,
    #39343e,
    #2a242ad1,
    #19151867,
    #00000000
  );
  font-family: "Itim", cursive;
  display: flex;
  flex-direction: column;
}

.book h3,.book p {
  margin: 1%;
}

.book img {
  height: 200px;
  width: 150px;
  border-radius: 20px;
  margin: 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.book img:hover {
  animation: topper 0.5s ease forwards; /* Apply the hover animation */
}

@keyframes topper {
  0% {
    transform: translateY(0px); /* Initial position */
  }
  100% {
    transform: translateY(-10px); /* Hover position */
  }
}

.book img:not(:hover) {
  animation: returnToNormal 0.5s ease forwards; /* Apply the return animation */
}

@keyframes returnToNormal {
  0% {
    transform: translateY(-10px); /* Hover position */
  }
  100% {
    transform: translateY(0px); /* Initial position */
  }
}
