.mangaPage {
  background-color: #000330;
  width: 100%;
  overflow-y: scroll;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.input {
  border: 0px;
  background-color: transparent;
  width: 400px;
  font-family: "Itim", cursive;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: large;
  color: white;
}

.input:focus {
  outline: none;
}

.genre{
  display: grid;
  grid-template-areas:
    "book2 book3"
    "book1 book1"
    "book4 book5"
    "book6 book7";
  gap: 30px;
  margin: 50px 30px;
}

.genre div {
  height: 150px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Itim", cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  background-position: center;
  transition: background-size 0.8s ease;
  transition-delay: 0.2s;
}

.genre div:hover {
  background-position: center;
  background-size: 90%;
}

.genre div:not(:hover) {
  background-size: 100%;
  transition-delay: 0s;
}


.book1 {
    grid-area: book1;
    background: url("../../public/layered-waves-haikei.png");
    background-size: cover;
    background-position: center;
  }
  
  .book2 {
    grid-area: book2;
    background: url("../../public/stacked-waves-haikei.png");
    background-size: cover;
    background-position: center;
  }
  
  .book3 {
    grid-area: book3;
    background: url("../../public/stacked-waves-haikei\ \(2\).png");
    background-size: cover;
    background-position: center;
  }
  
  .book4 {
    grid-area: book4;
    background: url("../../public/blob-scatter-haikei.png");
    background-size: cover;
    background-position: center;
  }
  
  .book5 {
    grid-area: book5;
    background: url("../../public/blob-scatter-haikei\ \(1\).png");
    background-size: cover;
    background-position: center;
  }
  
  .book6 {
    grid-area: book6;
    background: url("../../public/blob-scatter-haikei\ \(2\).png");
    background-size: cover;
    background-position: center;
  }
  
  
  .book7 {
    grid-area: book7;
    background: url("../../public/blob-scatter-haikei\ \(3\).png");
    background-size: cover;
    background-position: center;
  }