.mangaPage {
  background-color: #000330;
  width: 100%;
  overflow-y: scroll;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.input {
  border: 0px;
  background-color: transparent;
  width: 400px;
  font-family: "Itim", cursive;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: large;
  color: white;
}

.input:focus {
  outline: none;
}

.genre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 90px;
}

.genre div {
  max-width: fit-content;
  max-height: 240px;
  min-height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-family: "Itim", cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: 10px;
  border-radius: 20px;
}
.genre div p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.genre > :nth-child(1) {
  background: url("../../public/layered-waves-haikei.png");
  background-size: cover;
  background-position: center;
}

.genre > :nth-child(2) {
  background: url("../../public/stacked-waves-haikei.png");
  background-size: cover;
  background-position: center;
}

.genre > :nth-child(3) {
  background: url("../../public/stacked-waves-haikei\ \(2\).png");
  background-size: cover;
  background-position: center;
}

.genre > :nth-child(4) {
  background: url("../../public/blob-scatter-haikei.png");
  background-size: cover;
  background-position: center;
}

.book5 {
  background: url("../../public/blob-scatter-haikei\ \(1\).png");
  background-size: cover;
  background-position: center;
}

.genre > :nth-child(5) {
  background: url("../../public/blob-scatter-haikei\ \(2\).png");
  background-size: cover;
  background-position: center;
}

.genre > :nth-child(6) {
  background: url("../../public/blob-scatter-haikei\ \(3\).png");
  background-size: cover;
  background-position: center;
}

.login {
  --color: #000000;
  font-family: inherit;
  display: inline-block;
  width: 5em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: none;
  transition: color 0.5s;
  z-index: 1;
  border-radius: 6px;
  font-weight: 500;
  font-family: "Itim", cursive;
}

.login:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.login:hover {
  color: #fff;
}

.login:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.login:hover:before {
  top: -30px;
  left: -30px;
}

.login:active:before {
  background: #000000;
  transition: background 0s;
}

.Buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button {
  cursor: pointer;
}
.cartIcon {
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

.titles {
  color: #919191;
  font-family: "Itim", cursive;
  font-size: 1.5rem;
  margin-left: 30px;
}
.booksContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: overlay; /* Changed to overlay */
  width: 100%;
}

.booksContainer::-webkit-scrollbar {
  height: 10px;
}

.booksContainer::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

.booksContainer::-webkit-scrollbar-thumb {
  background: #989898; /* Color of the scrollbar */
  border-radius: 10px;
}

.booksContainer::-webkit-scrollbar-thumb:hover {
  background: #ffffff; /* Change color on hover if desired */
}

.book {
  flex: 0 0 auto;
  width: 210px;
  padding: 0px 20px;
  margin: 0px 10px;
  border-radius: 20px;
  color: white;
  font-family: "Itim", cursive;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.book p::-webkit-scrollbar-thumb,
.book p::-webkit-scrollbar-track {
  background-color: transparent;
}
.book h3,
.book p {
  margin: 1%;
}

.book img {
  height: 200px;
  width: 150px;
  border-radius: 20px;
  margin: 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.5s ease;
}

.book img:hover {
  transform: translateY(-10px);
  transition: transform 0.5s ease 0.3s;
}

.auth,
.subs {
  height: 50px;
  overflow-y: scroll;
}

.Buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button {
  cursor: pointer;
}
.cartIcon {
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

.loader {
  font-size: 1.5em;
  margin: auto;
  font-family: "Itim", cursive;
}
.loader > * {
  color: rgb(255, 255, 255);
}
.loader span {
  display: inline-flex;
}
.loader span:nth-child(2) {
  letter-spacing: -1em;
  overflow: hidden;
  animation: reveal 10000ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    alternate;
}
@keyframes reveal {
  0%,
  100% {
    opacity: 0;
    letter-spacing: -1em;
  }
  50% {
    opacity: 1;
    letter-spacing: 0.5em;
  }
}
