.container video {
  object-fit: contain;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease; /* Transition for opacity change */
}

.container:hover .background-video {
  opacity: 1;
}
